<p>Hello. I go by Jay. <br>
    I use data to help discover insights and find the best ways to deliver them.
    <br> My work lives at the intersection of Data Analytics and Product Design.<br>
    Strong believer in equal opportunity for all. Passionate about current affairs.<br>
    You can find me exploring libraries or discussing philosophical problems in the Twin Cities area.
    Content Seeker. Thought Miner.<br>
    <b>Current:</b> Data Science and Analytics at <b><a href="https://www.target.com">Target</a></b><br>
    Don’t be shy. Say hi! <br>
    
    </p>

